.wrapper {
	display: flex;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid var(--ion-color-dark);
}

.wrapper:last-child {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.profile {
	flex: 0 1 auto;
	margin-right: 1rem;
}

.avatar {
	width: 2.75rem;
	height: 2.75rem;
}

.content {
	min-width: 0;
	flex: 1 1 auto;
}

.header {
	display: flex;
	justify-content: space-between;
}

.text {
	margin: 0.5rem 0 1rem;
}

.images {
	margin: 0.5rem 0 1rem;
}

.slider {
	height: 100%;
}

.slide {
}

.image {
	display: block;
}
