.wrapper {
	display: grid;
	grid-gap: 0.75rem;
	grid-template-columns: repeat(4, 1fr);

	overflow-x: auto;
}

.item {
	hyphens: auto;
	display: flex;
	padding: 0.25rem;
	text-align: center;
	align-items: center;
	text-decoration: none;
	justify-content: center;
	border-radius: var(--border-radius);
}

.item:before {
	content: "";
	vertical-align: top;
	padding-bottom: 100%;
	display: inline-block;
}

.item:nth-child(3n + 1) {
	background: var(--ion-color-primary);
}

.item:nth-child(3n + 2) {
	background: var(--ion-color-secondary);
}

.item:nth-child(3n + 3) {
	background: var(--ion-color-tertiary);
}

.link {
	flex: 1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
